/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
	
	@include mq {
		max-width: $max-width;
		@include center;
	}
}

.row {
  @include flexy($dir: column);
  padding: 1em 10px;
  @include mq{
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq {
    @include flexy($just: center);
    margin-top: 0;
    align-items: center;
  }
}

@include mq {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: to-percentage($i, 12);
    }
  }

}

[class^=col] + [class^=col] {
  @include mq {
    margin-left: 10px;
  }
}

@each $theme, $color in $theme-colors {
  .theme.#{$theme} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}

@include mq{
  .centered {
    margin-left: auto;
    margin-right: auto;
  }
}